body {
  margin: 0;
  background-color: rgb(240, 245, 247);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-nav {
  background-color: rgb(252, 235, 213);
  padding: 0.5em;
} 

.main-nav {
  background-color: rgb(123, 123, 204);
}

#footer {
  background-color: rgb(24, 21, 21);
  color: antiquewhite;
}

#bottom-nav {
  background-color: rgb(252, 235, 213);
  margin-bottom: 0;
  padding: 1em;
  color: black;
  display: flex;
  justify-content: center;
}

.custom-btn {
  cursor: pointer;
}

.booking-container {
  border: blue 2px;
}