/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(240, 245, 247);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "sans-serif", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.top-nav {
  background-color: rgb(252, 235, 213);
  padding: 0.5em;
}

.main-nav {
  background-color: rgb(123, 123, 204);
}

#footer {
  background-color: rgb(24, 21, 21);
  color: antiquewhite;
  box-sizing: border-box;
  padding-top: 2em;
}

#bottom-nav {
  background-color: rgb(252, 235, 213);
  margin-bottom: 0;
  padding: 1em;
  color: black;
  display: flex;
  justify-content: center;
}

.custom-btn {
  cursor: pointer;
}

.booking-tabs.nav-tabs {
  margin-right: 1em;
}

/* Inactive tab */
.booking-tabs a {
  background-color: rgb(41, 60, 77);
  color: white;
  margin-right: 1em;
}
.booking-tabs a:hover {
  background-color: rgb(123, 123, 204);
}

/* Active tab */
.booking-tabs a.nav-link-active,
.booking-tabs a.nav-link-active:hover,
.booking-tabs a.nav-link-active:focus {
  background-color: whitesmoke;
  color: black;
}

.booking-tabs.card-header-tabs {
  margin-bottom: 0;
}

.form-inline label {
  justify-content: left;
}

.filter-btn:hover,
.filter-btn:focus {
  text-decoration: none;
  outline: none;
}

input#phone.phone-form-control {
  width: inherit;
}

.noUi-target {
  margin: 2em;
}

button#currency.dropdown-toggle.btn.btn-default {
  color: "white";
}

.stops {
  width: 20%;
}

/* .travelers-info {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.travelers-info:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: inherit;
  height: inherit;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.react-datepicker__input-container input {
  width: inherit;
  height: inherit;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */

/* .dropdown-toggle {
  width: 20em;
  background-color: #fff;
  color: black;
  padding-left: 1em;
}

.dropdown {
  padding: 0;
} */

/* #passengers {
  width: fit-content;
} */
