body {
  margin: 0;
  background-color: rgb(240, 245, 247);
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.top-nav {
  background-color: rgb(252, 235, 213);
  padding: 0.5em;
}

.main-nav {
  background-color: rgb(123, 123, 204);
}

#footer {
  background-color: rgb(24, 21, 21);
  color: antiquewhite;
  box-sizing: border-box;
  padding-top: 2em;
}

#bottom-nav {
  background-color: rgb(252, 235, 213);
  margin-bottom: 0;
  padding: 1em;
  color: black;
  display: flex;
  justify-content: center;
}

.custom-btn {
  cursor: pointer;
}

.booking-container {
  border: blue 2px;
}

.form-inline label {
  justify-content: left;
}

.filter-btn:hover,
.filter-btn:focus {
  text-decoration: none;
  outline: none;
}

.noUi-target {
  margin: 2em;
}

.sort-btn {
  background-color: green;
  color: white;
  border-color: white;
  padding: 0.4rem 1rem;
  border-radius: 15%;
}

/* .dropdown-toggle {
  width: 20em;
  background-color: #fff;
  color: black;
  padding-left: 1em;
}

.dropdown {
  padding: 0;
} */

/* #passengers {
  width: fit-content;
} */
