/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(240, 245, 247);
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "sans-serif", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.top-nav {
  /* background-color: rgb(252, 235, 213); */
  background-color: #fbc1ac;
  padding: 0.5em;
}

.main-nav {
  /* background-color: rgb(123, 123, 204); */
  background-color: #15498d;
}

.main-nav .navbar {
  padding: 0.5rem 0.7rem;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

#footer {
  /* background-color: rgb(24, 21, 21); */
  background-color: #41225f;
  color: whitesmoke;
  /* color: #fbc1ac; */
  box-sizing: border-box;
  padding-top: 2em;
}

.bottom-nav {
  /* background-color: rgb(252, 235, 213); */
  background-color: #fbc1ac;
  margin-bottom: 0;
  padding: 1em;
  color: black;
  display: flex;
  justify-content: center;
}

.custom-btn {
  cursor: pointer;
}

.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 1rem;
}

.flight_deals .card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}

.holiday {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-gap: 0.5rem;
}

.flight_deal_status {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f68220;
  color: whitesmoke;
  border-radius: 10px;
}

.query_status {
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 4em;
  height: 4em;
}

.booking-tabs.nav-tabs {
  margin-right: 1em;
}

.header-link {
  color: white !important;
  text-decoration: "none";
  width: fit-content;
}

.header-link:hover,
.header-link:focus {
  color: #fbc1ac !important;
}

/* Inactive tab */
.booking-tabs a {
  /* background-color: rgb(41, 60, 77); */
  background-color: #15498d;
  color: whitesmoke;
  margin-right: 1em;
}
.booking-tabs a:hover {
  /* background-color: rgb(123, 123, 204); */
  background-color: #41225f;
}

/* Active tab */
.booking-tabs a.nav-link-active,
.booking-tabs a.nav-link-active:hover,
.booking-tabs a.nav-link-active:focus {
  background-color: whitesmoke;
  color: black;
}

.booking-tabs.card-header-tabs {
  margin-bottom: 0;
}

.form-inline label {
  justify-content: left;
}

.filter-btn:hover,
.filter-btn:focus {
  text-decoration: none;
  outline: none;
}

input#phone.phone-form-control {
  width: inherit;
}

.noUi-target {
  margin: 2em;
}

button#currency.dropdown-toggle.btn.btn-default {
  color: "white";
  background-color: transparent;
}

.stops {
  width: 20%;
}

input.form-check-input {
  width: 1em;
  height: 1em;
}
.selected-tour {
  padding-left: 1em;
  background-color: #fff;
}

/* .travelers-info {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.travelers-info:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */

.react-tel-input .form-control {
  width: 100%;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: inherit;
  height: inherit;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.react-datepicker__input-container input {
  width: inherit;
  height: inherit;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  background-color: #157ec2;
}

.filter_flight {
  font-weight: bolder;
  background-color: #41225f;
  color: white;
  padding: 0.75rem 1.25rem;
}

#outer-container {
  font-family: sans-serif;
  height: 100vh;
  padding-top: 4rem;
  display: flex;
}

#page-wrap {
  text-align: center;
  /* padding-left: 240px; */
  /* overflow: auto; */
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  width: max-content;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 1.7em;
  height: 1.5em;
  left: 1em;
  top: 1.5em;
  z-index: 1200 !important;
}

.bm-burger-bars {
  background: whitesmoke;
  height: 15% !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: whitesmoke;
}

.bm-menu {
  background: #41225f;
  padding: 2.5em 1.5em 0;
  font-size: 1.2em;
  overflow: visible !important;
}

.burger-menu-open {
  position: relative !important;
  z-index: 1000 !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

a:hover,
a:focus {
  text-decoration-line: none;
}

.picky__dropdown {
  background-color: #fff;
  border: solid 1px #41225f;
  border-top: none;
  padding-left: 1em;
}

.picky__input {
  min-width: 100%;
}

.picky__filter__input {
  width: 100%;
}

@media only screen and (max-width: 470px) {
  .booking-tabs a {
    margin-right: 0.1em;
  }

  .booking-tabs .nav-link {
    padding: 0.5rem 0.2rem;
  }

  .booking-tabs.nav {
    padding-left: 10px;
  }

  .card-body {
    padding: 0;
    padding-top: 1.25rem;
  }

  .flightResultContainer {
    padding: 0.5em !important;
  }

  .img-fluid {
    max-width: 70%;
  }

  .table td,
  .table th {
    padding: 0.5rem;
  }
}

/* input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
} */

/* .dropdown-toggle {
  width: 20em;
  background-color: #fff;
  color: black;
  padding-left: 1em;
}

.dropdown {
  padding: 0;
} */

/* #passengers {
  width: fit-content;
} */
